@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(77, 63, 251);
  background: radial-gradient(circle, rgba(77, 63, 251, 1) 0%, rgba(252, 166, 70, 1) 100%);
}

.i-card {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-shadow: 1px 1px 10px #606060;
  margin-bottom: 1.5rem;
  display: inline-flex;
  align-items: center;
}

.person-name {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.22px;
  color: #000000;
  text-align: center;
  border: none;
}

.bottom-card .container .row .col-12 h1 {
  color: rgb(148 163 184);
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
}

.bottom-card {
  margin-top: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: rgb(51 65 85);
  border: 1px solid rgb(15 23 42);
}

.card-body {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.date {
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  margin-top: 25px;
}

.card-img {
  height: 350px;
}

@media (max-width: 575px) {
  .i-card {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #606060;
  }

  .person-name {
    color: #000;
  }

  .title-text {
    margin-top: 60px;
    font-size: 30px;
  }

  .bottom-card .container .row .col-12 h1 {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 20px;
  }

  .card-img {
    height: auto;
  }
}